
@keyframes yourAnimation{
    0% {
        transform:  scale(1.25);
    }
    15% {
        color: red;
        transform:  scale(1.5) rotate(90);
    }
    30% {
        color: green;
        transform:  scale(1.75);
    }
    45% {
        color: green;
        transform:  scale(1.5);
    }
    60% {
        color: blue;
        transform:  scale(1.25);
    }
    75% {
        color: white;
        transform:  scale(1);
    }
    90% {
    }
    100% {
    }
}
